<Alloy>
	<View class="container">
		<View id="customTabBar">
			<View id="buttonTab">
				<Label id="btn" text="events" />
			</View>
			<View id="invisibleTabA">
				<Label id="btn" text="notifications" />
			</View>
			<View id="invisibleTabB">
				<Label id="btn" text="schedule" />
			</View>
		</View>
		<View id="eventsView">
			<TableView id="eventsTable">
				<TableViewRow title="Events" />
			</TableView>
		</View>
	</View>
</Alloy>